/*PARA EL CUERPO GENERAL*/
* {
	font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  margin: 0;
}

#container {
	height: 2743px;
	display: block;
}

video { 
  width: 100%;
  height: auto;
  position: absolute;     
  z-index: -100;
}

/*CABECERA*/
header {
	display: block;
	padding: 30px 80px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#Lyft-blanco {
	display: inline-block;
	height: 50px;
}

#menu {
	vertical-align: top;
	display: inline-block;
	word-spacing: 30px;
	width: 80%;
}

nav {
	margin-left: 60%;

}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #FF00BF;
}

#in, #up {
	padding: 8px;
	border: 2px solid white;
    border-radius: 5px;
}

#up {
	visibility: hidden;
}

/*SECCIÓN FORMULARIO*/
#form {
	display: block;
	width: 428px;
    height: 500px;
    padding: 20px 60px;
    margin-top: 100px;
    margin-left: 59.4%;
    background-color: white;
    color: #352384;
    position: absolute;
}

h1 {
	font-size: 46px;
	font-weight: bolder;
	line-height: 40px;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #352384;
}

#driver {
	cursor: pointer;
	margin-right: 20px;
	font-size: medium;
	color: white;
	background-color: #FF00BF;
	padding: 15px;
	border: 2px solid white;
    border-radius: 5px;
}

#sup {
	color: #728099;
	text-decoration: underline;
}

#bajada-form {
	margin-top: 20px;
	font-size: 10px;
	color: #728099;
}

/*SECCIÓN INFORMACIÓN*/
#info {
	display: block;
	color: white;
	position: absolute;
	width: 77.76%;
	height: 500px;
	margin-top: 640px;
    padding: 100px 150px;
	background: linear-gradient( to bottom, rgba(118, 39, 143,1), rgba(43, 30, 102,1));
}

#info-iz, #info-der {
	width: 40%;
	display: inline-block;
}

.title {
	font-size: 27px;
}

#info-der {
	vertical-align: top;
}

#img-phone {
	margin-left: 150px;
	height: 550px;
}

/*SECCIÓN VIDEOS*/
#video {
	display: block;
	color: black;
	position: absolute;
	width: 99.9%;
	margin-top: 1340px;
}

#video1, #video2, #video3 {
	margin-top: -5px;
}

.vid-text, .vid-video {
	display: inline-block;
}

.vid-text {
    width: 26%;
    padding: 15px 50px;
}

.vid-video {
	vertical-align: top; 
}

.pre-title {
	font-size: 12px;
	font-weight: bold;
}

.title-video {
	margin-top: -15px;
	font-size: 27px;
	font-weight: bold;
}

iframe {
    width: 893px;
    height: 470px;
}

/*FOOTER*/
footer {
	display: block;
	background-color: #333447;
	height: 530px;
	color: white;
	padding: 40px 120px;
}

.bottom-rows {
	display: inline-block;
	margin-right: 120px;
}

#bottom-nav {
	margin: 20px 30px; 
}

.footer-img {
	width: 135px;
	height: 40px;
	cursor: pointer;
}

#bottom-bottom {
	margin-top: 35px;
	margin-left: 25%;
	width: 50%;
	text-align: center;
}

.bottom-icons {
	height: 35px;
    width: 35px;
    margin: 0px 40px;
}